<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title> Usuarios </title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
</head>
<body>

    <div class="container-lg">

        <div class="row">

            <div class="col">

                <table class="table table-hover">

                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>RFC</th>
                            <th>CURP</th>
                            <th>Nombre</th>
                            <th>Admin</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>

                    </thead>

                    <tbody id="datos">

                        <% for (ele of filas) { %>

                            <tr>

                                <td>
                                    <%= ele.id %>
                                </td>
                                <td>
                                    <%= ele.rfc %>
                                </td>
                                <td>
                                    <%= ele.curp %>
                                </td>
                                <td>
                                    <%= ele.nombre %>
                                </td>
                                <td>
                                    <%= ele.admin %>
                                </td>
                                <td>
                                    <a href="/editar/<%= ele.id %>" class="btn btn-secondary" id="editar">Editar</a>
                                </td>
                                <td>
                                    <a href="/borrar/<%= ele.id %>" class="btn btn-danger" id="editar">Borrar</a>
                                </td>

                            </tr>

                        <% } %>

                    </tbody>

                </table>
            </div>

        </div>

        <div class="w-33">
            <div class="center">
                <a href="/add" class="btn btn-success" id="agregar">Agregar</a>
            </div>
        </div>

    </div>

</body>
</html>